.sponsorPage {
  display: grid;
  grid-template-columns: 40% 60%;
  padding-top: 180px;
  padding-bottom: 180px;
  background-image: url(/images/Ellipse.svg);
  background-repeat: no-repeat;
  background-position: -8% top;

}
.sponsorPage_box {
  padding: 0px 65px 0 100px;
}
.box1-line1 {
  font-weight: 400;
  font-size: 56px;
  line-height: 110%;
  color: #ffffff;
}
.box1-line2 {
  font-family: "Stolzl Book";
  font-size: 16px;
  line-height: 150%;
  color: #ffffff;
}
.sponsors-input {
  width: 100%;
  border: none;
  border-bottom: 1px solid #999999;
  margin-top: 30px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #999999;
  background-color: #181a20;
}
.message-box {
  padding-bottom: 100px;
}
.box2-btn {
  margin-top: 30px;
  padding: 10px 25px;
  background: #d96a2c;
  border-radius: 100px;
  border: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  color: #ffffff;
}

@media screen and (max-width: 768px) {
  .sponsorPage {
    flex-direction: column;
    display: flex;
  }
  .sponsorPage_box {
    padding: 0px 50px;
  }
}

@media screen and (max-width: 425px) {
  .sponsorPage_box {
    padding: 0px 30px;
  }
  .sponsorPage {
    padding-top: 100px;
    padding-bottom: 100px;
    background-position: 53% -80%;

  
  }
}

@media screen and (max-width: 600px){
  .homePage .sponsors-img1 {
    border-radius: 20px;
    width: 84%;
}
.box1-line2 {
  font-size: 14px;
  margin-top: 0;
  margin-bottom: 80px;
  
}
.box1-line1 {
  font-size: 40px;
  margin-bottom: 20px;
  
}
.box2-btn{
  width: 100%;
}
}
/* =====input */
.sponsors-input:visited:required:invalid,textarea:visited:required:invalid{
  color: red;
  border-bottom: 1px solid red;
}
.sponsors-input:focus:valid,textarea:focus:valid{
  color: #ffffff;
  border-bottom: 1px solid #fff;
}

.sponsors-input:focus{
  outline: 0;
  color: #ffffff;
  border-bottom: 1px solid #d96a2c;
}

