html,
body {
  padding: 0;
  margin: 0;
  background-color: #181A20;
  color: #ffffff; 
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.homePage{
  overflow-x: hidden;
}
.splide__pagination__page {
  background-color: #D96A2C  !important;
  opacity: 0.3 !important;
}
.splide__pagination  .is-active{
  background-color: #D96A2C !important;
  opacity: 1 !important;

}
.splide__pagination li {
  display: none !important;
    }
.splide__pagination li:nth-child(1) {
  display: flex !important;
    }
    .splide__pagination li:nth-child(2) {
      display: flex !important;
        }
        .splide__pagination li:nth-child(3) {
          display: flex !important;
            }
