.homePage .banner-bg {
  font-family: "Stolzl";
  font-style: normal;
  background-image: url(/images/home/2nd-banner.svg);
  background-repeat: no-repeat;
  padding: 100px 150px 100px 150px;
  background-size: cover;
  margin-top: 180px;

  display: flex;
  justify-content: center;
}
.homePage .banner-bg > div{
  width: 1122px;
}
.homePage .banner-bg-line1 {
  font-weight: 400;
  font-size: 24px;
  color: #fff;
  max-width: 729px;
  line-height: 140%;
}
.homePage .banner-bg-line2 {
  font-weight: 300;
  font-size: 16px;
  color: #fff;
  opacity: 0.8;
  font-family: "Stolzl";
  line-height: 140%;
}

@media screen and (max-width: 600px) {
  .homePage .banner-bg {
    font-family: "Stolzl";
    font-style: normal;
    background-image: url(/images/home/2nd-banner.svg);
    background-repeat: no-repeat;
    padding: 70px 30px 80px 30px;
    background-size: cover;
    margin-top: 140px;
  }
  .homePage .banner-bg-line1 {
    font-weight: 400;
    font-size: 18px;
    max-width: 300px;
    color: #fff;
  }
  .homePage .banner-bg-line2 {
    font-weight: 400;
    font-size: 16px;
    color: #fff;
    opacity: 0.8;
  }
}

#home-img{
  margin-right: 15px;
  padding-right: 15px;
}