.homePage .brains-behind {
  font-family: "Stolzl";
  font-style: normal;
  margin-top: 150px;
  /* padding: 0px 150px; */
  background-image: url(/images/bg_element.png);
  background-repeat: no-repeat;
  background-position: 1% 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.homePage .brains-behind-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1122px;
}
.homePage .brains-behind-header h1 {
  font-weight: 400;
  font-size: 32px;
  line-height: 110%;
  color: #fff;
}
.homePage .brains-behind-header-word-color {
  color: #d96a2c;
}
.homePage .brains-behind-header-btn {
  font-weight: 400;
  font-size: 12px;
  color: #fff;
  padding: 10px 24px;
  height: 34px;
  border: none;
  background: #d96a2c;
  border-radius: 100px;
}
.homePage .brains-behind .cards {
  /* display: grid;
  grid-template-columns: 33% 34% 33%;
  grid-column-gap: 25px; */
  margin-top: 10px;
  font-family: "Stolzl";
  font-style: normal;
  display: flex;
  justify-content: center;
}
.homePage .brains-behind .cards > div {
  display: flex;
}
.homePage .brains-behind .cards img {
  border-radius: 10px;
}
.homePage .brains-behind .cards .card {
  width: 350px;
  margin: 0 20px;

}
/* .homePage .brains-behind .cards-content {
  padding-right: 55px;
} */
.homePage .brains-behind-cards-content {
  display: flex;
}
.homePage .brains-behind-cards-dot {
  color: #d96a2c;
}
.homePage .brains-behind-cards-peragraph {
  padding-left: 5px;
  font-weight: 400;
  font-size: 16px;
  color: #fff;
}

@media screen and (max-width: 1210px) {
  .homePage .brains-behind-header,
  .homePage .brains-behind .cards {
    max-width: 90vw !important;
    padding: 0px 10px !important;
  }
  .homePage .brains-behind .cards .card {
    width: 100%;
    margin: 0px;
  }
  .homePage .brains-behind .cards .card > img{
    width: 100%;
  }
  .brains-behind-cards-content {
    font-size: 18px;
  }
  .homePage .brains-behind .cards .card {
    margin: 0 10px;
  
  }

}

@media screen and (max-width: 810px) {
  .homePage .brains-behind-header,
  .homePage .brains-behind .cards {
    padding: 0px 0px;
  }
  .brains-behind-cards-content {
    font-size: 16px;
  }
  .homePage .brains-behind .cards .card {
    margin: 0px 5px !important;
  
  }
}

@media screen and (max-width: 590px) {
  .brains-behind-cards-content {
    font-size: 12px;
  }
  .brains-behind-cards-peragraph{
    font-size: 16px !important;

  }
  .homePage .brains-behind .cards .card {
    margin: 0px !important;
  
  }
  .homePage .brains-behind-header-btn {
    font-weight: 400;
    font-size: 14px;
 
  }

}

@media screen and (max-width: 550px) {
  .homePage .brains-behind-header,
  .homePage .brains-behind .cards {
    padding: 0px 0px;
  }
  .brains-behind-cards-content {
    font-size: 16px;
  }
}

@media screen and (max-width: 425px) {
  .homePage .brains-behind-header {
    padding: 0px 0px;
  }
  .homePage .brains-behind .cards > div {
    flex-direction: column;
    align-items: center;
  }
  .homePage .brains-behind .card {
    width: 330px;
    margin-bottom: 20px;
  }
  .brains-behind-cards-content {
    font-size: 14px !important;
  }
  .brains-behind-cards-peragraph{
    font-weight: 100;
  }
  .brains-behind-cards-peragraph{
    font-size: 14px !important;

  }
.homePage .brains-behind-header-btn {
    font-size: 14px !important;
}
.sm{
  display: block;
}
}
.sm{
  display: none;
}
.homePage .early-adopters-box-line2 {
  font-weight: 400 !important;
}

/* @media screen and (max-width: 600px) {
  .homePage .brains-behind {
    font-family: "Stolzl";
    font-style: normal;
    margin-top: 150px;
    padding: 0px 30px 0px 30px;
  }
  .homePage .brains-behind-header {
    display: flex;
    justify-content: space-between;
  }
  .homePage .brains-behind-header h1 {
    font-weight: 400;
    font-size: 32px;
    line-height: 110%;
    color: #fff;
  }
  .homePage .brains-behind-header-word-color {
    color: #d96a2c;
  }
  .homePage .brains-behind-header-btn {
    display: none;
  }
  .homePage .brains-behind .cards {
    margin-top: 10px;
    font-family: "Stolzl";
    font-style: normal;
  }
  .homePage .brains-behind .cards .card {
    margin-bottom: 50px;
  }
  .homePage .brains-behind .cards img {
    border-radius: 10px;
    width: 100%;
  }
  .homePage .brains-behind-cards-content {
    display: flex;
  }
  .homePage .brains-behind-cards-dot {
    color: #d96a2c;
  }
  .homePage .brains-behind-cards-peragraph {
    padding-left: 5px;
    font-weight: 400;
    font-size: 16px;
    color: #fff;
  }
} */


/* ======Changings===== */
.homePage .brains-behind-cards-peragraph {
  font-weight: 100 !important;
}
button{
  cursor: pointer;
}
@media screen and (max-width: 600px) {
  .homePage .brains-behind-cards-peragraph {
    padding-left: 5px !important;
 
  }
  .homePage .brains-behind {
    /* font-family: "Stolzl";
    font-style: normal;
    margin-top: 150px; */
    /* padding: 0px 150px; */
    background-image: none;
    /* background-repeat: no-repeat;
    background-position: 1% 25%;
    display: flex;
    flex-direction: column;
    align-items: center; */
  }
  .homePage .brains-behind-header h1 {
    font-size: 24px;
}
.brains-behind-pc{
  display: none !important;
}
.homePage .brains-behind .cards img {
  border-radius: 10px;
}
.homePage .brains-behind .cards {
  display: block;
}
.cards-content h1{
  margin: 0px 0px 5px 0px ;
}
}
@media screen and (min-width: 600px) {
  .brains-behind-mob{
    display: none !important;
  }

  
  }

  .splide__slide img {
    height: auto;
  }
  
  .splide__pagination li {
    display: none !important;
      }
  .splide__pagination li:nth-child(1) {
    display: flex !important;
      }
      .splide__pagination li:nth-child(2) {
        display: flex !important;
          }
          .splide__pagination li:nth-child(3) {
            display: flex !important;
              }
  .splide__arrow {
    background: rgb(255, 145, 0) !important;
    color: white !important;
    height: 35px !important;
    width: 35px !important;
  }
  .splide__arrow svg {
    fill: rgb(255, 255, 255) !important;
    height: 1.2em;
    width: 1.2em;
  }
  
  .brains-con .splide__arrow {
    top: 23% !important;
  }
  .brains-con .splide__pagination {
    top: 105% !important;
  }
  .splide__arrow--prev{
    left: -22px !important;
   }
   .splide__arrow--next{
    right: -20px !important;
   }
   .splide__arrow:disabled {
    opacity: .7 !important;
    background-color: #999 !important;
  
  }